apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-aojnldem
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-aojnldem:a9d0efa5683002b141599e7c71407f5ad0d021fc@sha256:62a9a7dbd0e235116bf0d063c3233bb882b46affbc4d87c3977f9c8292eb23c2
        name: container-image  
